.book-reader-fullscreen {
    padding: 6px 10px;
    background-color: gray;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}
.book-reader-container {
    text-align: center;
    background-color: black;
}
