.book-card {
  width: 150px;
  background: white;
  border-radius: 10px;
  padding: 12px;
  cursor: pointer;
  transition: 0.25s ease;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  flex-shrink: 0; /* penting supaya tidak mengecil di row */
}

.book-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

.book-cover {
  width: 100%;
  height: 180px;
  border-radius: 6px;
  object-fit: cover;
}

.top-bar {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating-box {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 13px;
  font-weight: 600;
}

.book-title {
  margin-top: 6px;
  font-size: 16px;
  font-weight: bold;
}

.book-author {
  font-size: 12px;
  opacity: 0.7;
}

/* Bookmark */
.bookmark-icon {
  opacity: 0.8;
}

.bookmark-icon:hover {
  opacity: 1;
}
