.header {
  width: 100%;
  background: #202940ff;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo img {
  width: 40px;
  height: 40px;
}

.brand-name {
  font-size: 20px;
  font-weight: bold;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-box {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  width: 275px;
}

.search-icon {
  color: #333;
}

.search-box input {
  border: none;
  outline: none;
  margin-left: 10px;
  flex: 1;
}

.menu-icon {
  color: white;
}

@media (max-width: 640px) {
  .header {
    padding: 12px 16px;
  }
  .search-box {
    width: 200px;
  }
}
