.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.55);
  z-index: 9000;
}

.side-menu {
  position: fixed;
  top: 0;
  left: -300px;
  width: 270px;
  height: 100vh;
  background: #0D1321;
  color: white;
  transition: 0.28s ease;
  z-index: 9999;
  display: flex;
  flex-direction: column;
}

.side-menu.open {
  left: 0;
}

.side-header {
  background: #141B2D;
  padding: 22px 20px 60px 20px;   /* <— lihat angka 40px, ini kuncinya */
  border-bottom: 2px solid #D4A017;
}

.back-btn {
  cursor: pointer;
  margin-bottom: 10px;
}

.guest-text {
  margin-top: 15px;
  margin-left: 50px;
  font-size: 17px;
  opacity: 0.9;
  font-weight: 500;
}

.menu-items {
  list-style: none;
  padding: 25px 25px;
  margin-top: 10px;
}

.menu-items li {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.menu-items li svg {
  stroke: #ffffff;
}

.menu-items li:hover {
  opacity: 0.7;
}

.menu-items a {
  color: white;
  text-decoration: none;
}

.bottom-area {
  margin-top: auto;
  padding: 0 20px 30px 20px;
}

.login-btn {
  width: 100%;
  padding: 14px 0;
  background: #D4A017;
  border: none;
  border-radius: 12px;

  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.login-btn:hover {
  background: #C39514;
}
