.detail-container {
  padding: 0px 40px;
  font-family: Arial, sans-serif;
}

.back-btn {
  cursor: pointer;
  margin-bottom: 35px;
  margin-top: 10px;
  margin-left: -10px;
}

.detail-top {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.detail-cover {
  width: 350px;
  border-radius: 10px;
  position: relative;
  margin-left: 100px;
  z-index: 2;    
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);      
}

.detail-info {
  flex: 1;
  position: relative;
}

.detail-info h2 {
  font-size: 32px;
  font-weight: bold;
}

.detail-author {
  font-size: 14px;
  opacity: 0.7;
}

.detail-rating {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 10px 0;
  font-weight: bold;
}

.status {
  background: #d5f5d5;
  color: #2e7b2e;
  padding: 5px 14px;
  border-radius: 12px;
  font-size: 12px;
}

.genre-row {
  display: flex;
  gap: 10px;
  margin: 12px 0;
}

.genre {
  background: #eee;
  padding: 5px 12px;
  border-radius: 12px;
  font-size: 12px;
  transition: 0.2s;
}

.genre:hover {
  background: #dcdcdc;
  cursor: pointer;
}

.bookmark-btn {
  position: absolute;
  right: 0;
  top: 5px;
  cursor: pointer;
}

.tabs {
  display: flex;
  gap: 12px;
  margin: -200px 490px 80px;
  position: relative;
  z-index: 1;
}

.tab-btn {
  padding: 10px 30px;
  border-radius: 12px;
  border: 2px solid #ddd;
  background: white;
  display: flex;
  gap: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  color: #222;
  position: relative;
  margin-top: -140px;
  margin-left: 20px;
  z-index: 3;
}

.tab-btn svg {
  color: #555;
}

.tab-btn.active {
  background: #f1c232;
  border-color: #f1c232;
  color: #ffffff;
}

.tab-btn.active svg {
  color: #ffffff;
}

.tab-btn:hover {
  opacity: 0.9;
}

.content-box {
  background: #162b45;
  color: white;
  width: 80%;
  padding: 60px;
  margin-left: 310px;
  margin-top: -170px;
  min-height: 389px;
  position: relative;
  z-index: 1;
  
}

.sinopsis {
  width: 60%;
  margin-left: 150px;
  line-height: 1.5;
  font-size: 15px;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
  font-size: 14px;
}

.read-btn {
  position: absolute;
  right: 50px;
  bottom: 40px;
  padding: 20px 42px;
  background: #d7a220;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
