* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f2f2f2;
}

.page-wrapper {
  width: 100%;
}

.header {
  width: 100%;
  background: #141b2d;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 5000;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.brand-name {
  font-size: 20px;
  font-weight: bold;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-box {
  background: #fff;
  border-radius: 20px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.search-box input {
  border: none;
  outline: none;
  width: 160px;
}

.search-icon {
  color: #555;
}

.home-container {
  width: 100%;
  overflow-x: hidden;
  padding-top: 0;
}

.banner {
  width: 100%;
  text-align: center;
  background: #141b2d;
  padding: 30px 0;
  margin: 0;
  border: none;
  border-radius: 0;
}

.banner img {
  width: 50%;
  max-width: 350px;
}

.section-title {
  margin: 30px 40px 10px;
  color: #333;
}

.placeholder {
  width: 90%;
  height: 140px;
  background: #dcdcdc;
  margin: auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
  font-size: 18px;
}

.footer {
  width: 100%;
  background: #141b2d;
  color: white;
  padding: 25px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 100px;
}

.footer-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-menu {
  list-style: none;
  display: flex;
  gap: 35px;
}

.footer-menu a {
  text-decoration: none;
  color: white;
  transition: 0.25s;
}

.footer-menu a:hover {
  opacity: 0.6;
}

.footer-copy {
  font-size: 14px;
  opacity: 0.6;
}
