* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background: white;
  overflow-x: hidden;
  overflow-y: auto;
}

.reg-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: visible;
}

.reg-left {
  flex: none;
  width: 62%;
  max-width: 800px;
  padding: 40px 150px;
  position: relative;
}

.reg-back {
  background: #1b2b44;
  width: 80px;
  height: 60px;
  border-radius: 0 0 55px 0;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.reg-title {
  margin-top: 20px;
  font-size: 36px;
  font-weight: bold;
  color: #1b2b44;
  text-decoration: underline;
}

.reg-form {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.reg-form label {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 600;
}

.reg-form input {
  border: 2px solid #e0b300;
  padding: 10px;
  border-radius: 10px;
  margin-top: 5px;
}

.upload-box {
  border: 2px solid #e0b300;
  border-radius: 12px;
  padding: 10px;
  height: 48px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.upload-box {
  cursor: pointer;
}

.upload-box.disabled {
  pointer-events: none;
  cursor: default !important;
}

.upload-box.disabled .clear-file-btn {
  pointer-events: auto;
  cursor: pointer;
}

.hidden-file-input {
  position: absolute;
  inset: 0;
  opacity: 0;
}

.upload-placeholder {
  width: 100%;
  display: flex;
  justify-content: center;
}

.file-info {
  width: 100%;
  padding-right: 32px;
}

.file-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clear-file-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.reg-submit {
  margin-top: 25px;
  background: #1b2b44;
  color: white;
  padding: 10px 25px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  width: 130px;
  font-size: 16px;
}

.reg-links {
  margin-top: 30px;
  font-size: 13px;
}

.as-guest {
  text-decoration: underline;
  cursor: pointer;
}

.login-link {
  color: blue;
  cursor: pointer;
}

.reg-right {
  position: absolute;
  top: 0;
  right: 0;

  width: 38%;
  height: 100%;
  min-height: 100vh;

  background: #1b2b44;
  clip-path: polygon(35% 0, 100% 0, 100% 100%, 15% 100%);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 80px;
}


.vertical-text {
  position: absolute;
  right: 10px;
  top: 5%;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 2px;
  opacity: 60%;
  color: white;
  user-select: none;
}

.brand-text {
  font-size: 24px;
  font-weight: 700;
  color: white;
  opacity: 90%;
  letter-spacing: 1.8px;
  margin-bottom: -40px;
  margin-right: -240px;
  z-index: 5;
  user-select: none;
}

.book-image {
  position: absolute;
  right: 14%;
  top: 50%;
  transform: translateY(-50%) rotate(-3deg);
  width: 400px;
  z-index: 999;
  filter: drop-shadow(0px 15px 25px rgba(0,0,0,0.35));
  pointer-events: none;
}

.upload-box *,
.upload-placeholder *,
.upload-box svg {
  cursor: pointer;
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px;
}

.toggle-pass {
  position: absolute;
  right: 19px;
  top: 60%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.65;
  transition: 0.2s;
  user-select: none;
}

.toggle-pass:hover {
  opacity: 1;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none !important;
}

input[type="password"]::-webkit-textfield-decoration-container {
  display: none !important;
}

.forgot-pass {
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #444;
  cursor: pointer;
  transition: 0.2s;
}

.forgot-pass:hover {
  text-decoration: underline;
  color: #1b2b44;
}
